<div class="grid">
  <div class="col-12 lg:col-2" *ngIf="showFileUpload">
    <app-file-upload [isSending$]="isSending$"></app-file-upload>
  </div>
  <div
    class="col-12 lg:col-8"
    [ngClass]="{ 'lg:col-offset-2': !showFileUpload }"
  >
    <span class="p-input-icon-right w-full">
      <textarea
        class="w-full"
        rows="5"
        cols="30"
        placeholder="Wpisz prompt..."
        pInputTextarea
        [(ngModel)]="prompt"
        (keyup.enter)="send()"
        disabled="{{ isSending$ | async }}"
      ></textarea>
      <i
        *ngIf="!(isSending$ | async)"
        class="pi pi-send cursor-pointer"
        (click)="send()"
      ></i>
      <p-progressSpinner
        *ngIf="isSending$ | async"
        styleClass="w-1rem h-1rem"
        class="spinner"
        strokeWidth="8px"
      ></p-progressSpinner>
    </span>
  </div>
</div>
